.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 30px 0;
}

.logo {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: #4793ff;
    display: flex;
    align-items: center;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
    gap: 25px;

    // .search__input
    &__input {
        background: rgba(71, 147, 255, 0.2);
        border-radius: 10px;
        max-width: 194px;
        width: 100%;
        padding: 9px 20px;
        font-weight: 500;

        &::placeholder {
            color: inherit;
        }
    }
}