.current {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    &__info {
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        max-width: 400px;
        width: 100%;
        border-radius: 20px;
        padding: 20px;
        position: relative;
    }

    &__deg {
        font-weight: 500;
        font-size: 96px;
        color: #4793ff;
    }

    &__day {
        font-size: 40px;
        margin-top: -20px;
        margin-bottom: 31px;
    }

    &__time, &__city {
        font-size: 25px;
        color: #939cb0;
    }

    &__city {
        margin-top: 14px;
    }

    &__img {
        position: absolute;
        top: 46px;
        right: 20px;
        max-width: 119px;
        width: 100%;
    }

    &__content {
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        border-radius: 20px;
        max-width: 750px;
        width: 100%;
        padding: 32px 44px;
        display: grid;
        gap: 20px;
        background-image: url(../../assets/img/map.png);
        background-repeat: no-repeat;
        background-position: right top;
    }

    &__card {
        display: grid;
        gap: 20px;
        grid-template-columns: 38px 100px max-content;
        font-size: 14px;
        align-items: center;
    }

    &__icon {
        border-radius: 100%;
        box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        color: #939cb0;
    }
}